<h1>This is my first hanami App</h1>

<%=
    form_for :book, '/books' do
        label :title
        text_field :title

        label :author
        text_field :author

        submit 'Create'
    end
%>
